@tailwind base;
@tailwind components;
@tailwind utilities;

.snowfall-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}
.snowflake {
  position: absolute;
  top: -10%;
  /* color: white; */
  animation: fall linear infinite;
  border-radius: 50%; /* Make it circular */
  background-color: white; /* White dots */
}

@keyframes fall {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
